body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#container{
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-areas: 
    "h h "
    "n m"
    "n f";
    border: rgb(0, 0, 0) solid 2px;
    border-radius:6px;
}

.header{
    grid-area: h;
    background-color: rgb(180, 39, 86);
    display:grid;
    grid-template-columns: repeat(4, 1fr) 8fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "es es es es es"
    "ah ah ah ah ah"
    "ees ees ees ees ees"
    "ho c a he o";
    text-align:center;
}
.actualHeader{
    grid-area: ah;
    font-size:17px;
}
.home{
    grid-area: ho;
    background-color:  rgb(124, 23, 56);
    border: rgb(58, 58, 58) solid ;
    border-width:2px 2px 2px 2px
}
.contact{
    grid-area: c;
    background-color:  rgb(124, 23, 56);
    border: rgb(58, 58, 58) solid ;
    border-width:2px 2px 2px 0px
}
.about{
    grid-area: a;
    background-color: rgb(124, 23, 56);
    border: rgb(58, 58, 58) solid ;
    border-width:2px 2px 2px 0px
}
.help{
    grid-area: he;
    background-color: rgb(124, 23, 56);
    border: rgb(58, 58, 58) solid ;
    border-width:2px 2px 2px 0px
}
.emptySpace{
    grid-area: es;
}
.emptySpace2{
    grid-area: ees;
}
.other{
    grid-area: o;
    background-color:  rgb(124, 23, 56);
    border: rgb(58, 58, 58) solid ;
    border-width:2px 2px 2px 0px
}
.nav{
    grid-area: n;
    background-color: blueviolet;
   display:grid;
   grid-template-columns:1fr;
   grid-template-rows: repeat(5,1fr) 10fr;
   grid-template-areas: 
   "p1"
   "p2"
   "p3"
   "p4"
   "p5";
   text-align:center;
   padding-left: 5px;
   padding-top:5px;
   border-right: rgb(27, 6, 27) solid 1px
}
.page1{
    grid-area: p1;
    border-bottom: grey solid 1px;
    margin-top:5px;
}
.page2{
    grid-area: p2;
    border-bottom: grey solid 1px;
    margin-top:5px;
}
.page3{
    grid-area: p3;
    border-bottom: grey solid 1px;
    margin-top:5px;
}
.page4{
    grid-area: p4;
    border-bottom: grey solid 1px;
    margin-top:5px;
}
.page5{
    grid-area: p5;
    border-bottom: grey solid 1px;
    margin-top:5px;
}

.main{
    grid-area: m;
    background-color: rgb(19, 121, 146);
    display:grid;
    grid-template-columns:1fr repeat(2, 100fr) 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr ;
    grid-template-areas: 
    "t t t t"
    "es js cs ees"
    "es js b ees"
    "es jq b ees";
    grid-gap: 5px;
    text-align:justify;
}
.title{
    grid-area: t;
    text-align:center;
}
.javascript{
    grid-area: js;
    background-color: rgb(155, 186, 196);
    border-radius:4px;
    border:rgb(26, 26, 56) solid 1px;
    padding-left:5px;
}
.jquery{
    grid-area: jq;
    background-color: rgb(155, 186, 196);
    border-radius:4px;
    border:rgb(26, 26, 56) solid 1px;
    padding-left:5px;
    margin-bottom:3px;
}
.css{
    grid-area: cs;
    background-color: rgb(155, 186, 196);
    border-radius:4px;
    border:rgb(26, 26, 56) solid 1px;
    padding-left:5px;
}
.bootstrap{
    grid-area: b;
    background-color: rgb(155, 186, 196);
    border-radius:4px;
    border:rgb(26, 26, 56) solid 1px;
    padding-left:5px;
    margin-bottom:3px;
}
.footer{
    grid-area: f;
    background-color: rgb(0, 112, 79);
    border-top: rgb(1, 59, 32) solid 1px
}



